In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('/Users/deeshan/Documents/Neuronova/delivery_optimizer/locations.csv')
df

       id     lat     lon  demand  priority
0   Depot  52.520  13.405       0         0
1  Stop_A  52.522  13.408       2         1
2  Stop_B  52.518  13.402       3         2
3  Stop_C  52.525  13.410       1         1
4  Stop_D  52.515  13.400       4         3